<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="get">
<input type="text" name="landmark[name]" value="Landmark Name">
<input type="text" name="landmark[year_completed]" value="Completion Date">
<input type="submit" name="create" value="Create New Landmark">
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
